.container {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
.projects {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    justify-content: space-between;
    margin-bottom: 120px;
}
.projects__title {
    font-size: xx-large;
    color: black;
    margin-bottom: 15px;
}
.projects img {
    width: 250px;
    height: 250px;
}
.project__title {
    font-size: 20px;
}
.list {
    padding-bottom: 10px;
    display: block;
    width: 100px;
    height: 100px;
}
.projects a {
    text-decoration: none;
}
@media(max-width:1000px){
    .projects img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 600px) {
    .projects {
        margin: 30px 30px;
    }
    .projects img {
        width: 60px;
        height: 60px;
    }
    .projects__title {
        font-size: x-large;
    }
    .project__title {
        font-size: 10px;
    }
}
