.container {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}
.me__photo img {
    margin-top:  60px;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.me__text {
    color: black;
    font-size: 20px;
    margin: 35px auto;
    padding-bottom: 150px;
}

@media (max-width: 600px) {
    .me__photo img {
        height: 200px;
        width: 200px;
        
    }
    .me__text {
        font-size: 10px;
        margin-bottom: 25px;
        padding-bottom: 50px;
    }
}
