.skills {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.skills__title {
    font-size: xx-large;
    color: black;
    margin-bottom: 35px;
}
.skill {
    color: black;
    min-width: 400px;
}

.skill__title {
    padding: 15px;
    font-size: x-large;
    margin-bottom: 35px;
}

@media (max-width: 1260px) {
    .skills {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    .skills {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
    }
    .skill__title {
        font-size:large;
        margin: 0  15px;
    }
    .skill {
        min-width: 300px;
    }
    .skills__title {
        font-size: x-large;
        margin: 20px 15px;
    }
}
